<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Book Info</title>
  </head>
  <body>
    <h1>Book Information</h1>
    <p>Author: <%= author %></p>
    <p>ISBN: <%= isbn %></p>
	<img src="<%= imageLink %>" />
    <p>Country: <%= country %></p>
	<p>Pages: <%= pages %></p>
	<p>Title: <%= title %></p>
	<p>Year: <%= year %></p>
  </body>
</html>
